@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,400&family=DM+Serif+Display&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-serif: "DM Serif Display", serif;
  --text-capt: 11.1px;
  --text-bs: 13.3px;
  --text-bd: 16px;
  --text-bl: 18px;
  --text-h6: 19.2px;
  --text-h5: 23px;
  --text-h4: 27.6px;
  --text-h3: 33.2px;
  --text-h2: 39.8px;
  --text-h1: 47.8px;
  --text-capt-m: 8.9px;
  --text-bs-m: 10.7px;
  --text-bd-m: 12.8px;
  --text-bl-m: 14.4px;
  --text-h6-m: 15.4px;
  --text-h5-m: 18.4px;
  --text-h4-m: 22.1px;
  --text-h3-m: 26.5px;
  --text-h2-m: 31.8px;
  --text-h1-m: 38.2px;
  --color-cusblack: #1f1f21;
  --color-cusdarkred: #730807;
  --color-cusred: #c20d14;
  --color-cusorange: #fc3916;
  --color-cusdarkgrey: #b9b9b9;
  --color-cusgrey: #e8e8e8;
  --color-cuswhite: #f5f5f7;
  --color-danger: #a6192e;
  --color-caution: #ff9900;
  --color-success: #04b34f;
  --color-information: #0057b8;
  --breakpoint-xs: 360px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

html {
  font-family: var(--font-sans);
}

.input-box {
  @apply w-full h-7 md:h-9 px-3.75 text-bs-m md:text-bs font-semibold bg-cuswhite border-2 border-cusdarkgrey rounded-md outline-none focus:border-none focus:ring-2 focus:ring-cusorange text-cusblack placeholder:text-bs-m md:placeholder:text-bs placeholder:font-semibold placeholder:text-cusdarkgrey;
}

.table-header {
  @apply text-left text-bs p-2;
}

.table-body {
  @apply text-left text-bs p-2;
}
